html {
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #ff0000;
}
body {
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  background-image: url(../images/px_by_Gre3g_@2X.png);
  color: #777777;
  line-height: 1.6;
}

.container {
  width: 100%;
  max-width: 960px;
}

.navbar {
  padding-bottom: 0;
  background-color: #ffffff;
  border-bottom: 2px solid #777777;
}

a:link {
  color: orange;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #777777;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #4aaaa5;
  background-color: transparent;
}
a:active {
  color: #777777;
  background-color: transparent;
  text-decoration: underline;
}

h1 {
  color: #4aaaa5;
  font-family: "Georgia", "Times", "Times New Roman", serif;
  font-size: xx-large;
}

.card-title {
  color: #4aaaa5;
}

a#logo {
  background: #4aaaa5;
  color: #ffffff;
  font-size: 40px;
  padding: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
}

#navvy {
  border-left: 2px solid #777777;
  border-right: 2px solid #777777;
}

.card {
  max-width: 960px;
  margin: 50px;
}

/*Footer Styling*/

.card-footer {
  border-top: 8px solid #4aaaa5;
  background-color: #666666;
  height: 60px;
  text-align: center;
  color: #ffffff;
  flex-shrink: 0;
}

hr {
  height: 5px;
  background: #cccccc;
  margin: auto;
}

img {
  width: 300px;
  height: 200px;
}

.btn {
  background: #4aaaa5;
  border: none;
}

h6 {
  opacity: 0.8;
  background: #4aaaa5;
  position: relative;
  bottom: 40px;
  color: #ffffff;
  padding: 0;
  margin: 10px 0;
}
.view {
  width: 300px;
  height: 200px;
  margin: 10px;
  float: left;
  border: 10px solid #fff;
  overflow: hidden;
  position: relative;
  text-align: center;
  box-shadow: 1px 1px 2px #e6e6e6;
  cursor: default;
  background: #fff url('profilePic.jpg') no-repeat center center
}
.view .mask, .view .content {
  width: 300px;
  height: 200px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0
}
.view img {
  display: block;
  position: relative
}
.view h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  margin: 20px 0 0 0
}
.view p {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 12px;
  position: relative;
  color: #fff;
  padding: 10px 20px 20px;
  text-align: center
}
.view a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000
}
.view a.info:hover {
  box-shadow: 0 0 5px #000
}
.view-first img { 
  transition: all 0.2s linear;
}
.view-first .mask {
  opacity: 0;
  background-color: rgba(219,127,8, 0.7); 
  transition: all 0.4s ease-in-out;
}
.view-first h2 {
  transform: translateY(-100px);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.view-first p { 
  transform: translateY(100px);
  opacity: 0;
transition: all 0.2s linear;
}
.view-first a.info{
  opacity: 0;
transition: all 0.2s ease-in-out;
}

.view-first:hover img { 
transform: scale(1.1);
} 
.view-first:hover .mask { 
opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
  opacity: 1;
  transform: translateY(0px);
}
.view-first:hover p {
  transition-delay: 0.1s;
}
.view-first:hover a.info {
  transition-delay: 0.2s;
}
